$color-text-black: #333;
$color-text-gray: #808080;
$color-comment-border: #c4cbcf;
$color-comment: #f2fbff;
$color-description: #fffbc8;
$color-review-button: #fdd639;
$color-review-background: #f2f2f2;
$color-stats-blue: #ace2f8;
$color-stats-green: #b1e19b;
$color-link: #005da1;
$color-shadow: #808080;
$color-border: #dadada;

$color-svg: #73b4d5;
